@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html{
  background-color: #371E1E;
  font-family: 'Inter', sans-serif;
}

body{
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 100vh;
  max-height: fit-content;
  background: linear-gradient(180deg, #340000 0%, rgba(176, 0, 0, 0.66) 100%);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: #FFF;
}

p {
  margin: 0;
}

hr {
border: 1px solid #F53855;
}

a{
  text-decoration: none;
  color: #FFF;
}

button {
  border: none;
  text-align: center;
}

.navbar{
  margin-right: 0;
  background: #310A10;
  display: flex;
  align-items: center;
}

.logo{
  margin: 1rem;
  height: 30px;
  width: auto;
}
.navlink{
  margin-left: 1rem;
  text-decoration: none;
  color: #F53855;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
}

.container{
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  margin: 5vw;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #1F0000 ;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}

.col1{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
}

figure{
  margin: 0;
  width: fit-content;
}

figcaption{
  color: #FFF;
}

.avatar{
  height: 7rem;
  width: auto;
}

.col2{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dragon-name{
  color: #FFF;
  font-size: 42px;
  margin: 0;
}

.element{
  font-size: 24px;
}

.force{
  font-size: 20px;
}

.btn-relations{
  border-radius: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #FF0000;
  color: #FFF;
}

.top-cards{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-cards{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-selector{
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 420px) {
  body{
    margin: 0;
  }
}

.show-card{
  margin: 5vw;
  background-color: #1F0000 ;
  width: fit-content;
  border-radius: 30px;
}

.camarades{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-img{
  max-width: 100%;
  height: auto;
}

.page-link{
  color: black;
}

.return-btn{
  margin-top: 1rem;
  margin-left: 5rem;
  background-color: #FF0000;
  border-radius: 5px;
  font-size:24px;
}

.form-card{
  margin: 5vw;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #1F0000 ;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: #FF0000;
  border-radius: 5px;
  font-size:18px;
  color: #FFF;
  border: none;
  text-align: center;
}

form {
  margin: 5vw;
}

#name {
 height: 2rem;
  width: 12rem;
  border-radius: 10px;
}

#force {
  height: 2rem;
   width: 12rem;
   border-radius: 10px;
 }

 .form-title {
  margin-bottom: 0;
 }

 input, label{
  margin: 1rem;
 }