@font-face{
  font-family: 'Trattatello';
  src: url('style/font/Trattatello.ttf') format('ttf');
}

html{
  background-color: #371E1E;
  font-family: 'Trattatelo';
}

body{
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 100vh;
  max-height: fit-content;
  background: linear-gradient(180deg, #340000 0%, rgba(176, 0, 0, 0.66) 100%);
  font-family: 'Trattatello', courant;
  color: #FFF;
}

.navbar{
  background: #310A10;
  display: flex;
  align-items: center;
}

.logo{
  margin: 1rem;
  height: 30px;
  width: auto;
}
.navlink{
  margin-left: 1rem;
  text-decoration: none;
  color: #F53855;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
}

.container{
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

article{
  margin: 5vw;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #1F0000 ;
  width: fit-content;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}

.col1{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
}

figure{
  margin: 0;
  width: fit-content;
}

figcaption{
  color: #FFF;
}

.avatar{
  height: 7rem;
  width: auto;
}

.col2{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dragon-name{
  color: #FFF;
  font-size: 42px;
  margin: 0;
}

.element{
  font-size: 24px;
}

.force{
  font-size: 20px;
}

.btn-relations{
  border-radius: 50px;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: #FF0000;
  color: #FFF;
}

.top-cards{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottom-cards{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-selector{
  margin-top: 7rem;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 420px) {
  body{
    margin: 0;
  }
}